/*  Tipografia */
@font-face {
  font-family: "Editorial New";
  src: url("assets/fonts/editorial_new_ultrabold.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

/****************************************
*    Variables
*****************************************/
:root {
  /* Colors */
  --background: #ffffff;
  --primary: #000000;
  /* Typography */
  --font-family: "Editorial New";
}

/* Resets */
html{box-sizing:border-box}*,::after,::before{box-sizing:inherit}blockquote,body,figure,h1,h2,h3,h4,h5,h6,hr,li,ol,pre,ul{margin:0;padding:0}ul{list-style:none}button,input,select,textarea{color:inherit;font:inherit;letter-spacing:inherit}button,input,textarea{border:1px solid gray}button{border-radius:0;padding:.75em 1em;background-color:transparent}button *{pointer-events:none}embed,iframe,img,object,video{display:block;max-width:100%}table{table-layout:fixed;width:100%}[hidden]{display:none}noscript{display:block;margin-bottom:1em;margin-top:1em}

/****************************************
*    Base - Elements
*****************************************/
html {
  height: 100%;
}

body {
  color: var(--primary);
  background: var(--background);
  font-family: var(--font-family);
  font-size: 100%;
  font-size: 18px;
  font-weight: 900;
}

a {
  text-decoration: none;
}

/* Tipografía */
p {
  font-size: 1em;
}

h1 {
  font-size: 2em;
  line-height: 1.25;
}

h2 {
  font-size: 1.6em;
  line-height: 1.2;
}

h3 {
  font-size: 1.4em;
  line-height: 1.15;
}

h4 {
  font-size: 1.2em;
  line-height: 1;
}

/* Tipografía responsiva */
/* https://css-tricks.com/snippets/css/fluid-typography */
body {
  font-size: calc(16px + (20 - 16) * ((100vw - 720px) / (1400 - 720)));
}

/****************************************
*    Componentes
*****************************************/


/* Header */
.header {

}

/* Main */
.main {
  height: 100vh;
  display: flex;
  justify-content:center;
  align-items: center;
}

.circulo {
  height:200px;
  width:200px;
}


.circulo:nth-child(1) {
  background-color: rebeccapurple;
  border-radius: 50%;
  filter: blur(35px);
}
.circulo:nth-child(2) {
  background-color: red;
  border-radius: 50%;
  filter: blur(35px);
}
.circulo:nth-child(3) {
  background-color: blue;
  border-radius: 50%;
  filter: blur(35px);
}
.circulo:nth-child(4) {
  background-color: violet;
  border-radius: 50%;
  filter: blur(35px);
}
.circulo:nth-child(5) {
  background-color: yellow;
  border-radius: 50%;
  filter: blur(35px);
}
.circulo:nth-child(6) {
  background-color: greenyellow;
  border-radius: 50%;
  filter: blur(35px);
}

/* Footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Helpers */
.parpadeo {
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
