/* CSS Resets */
html{box-sizing:border-box}*,::after,::before{box-sizing:inherit}blockquote,body,figure,h1,h2,h3,h4,h5,h6,hr,li,ol,pre,ul{margin:0;padding:0}ul{list-style:none}button,input,select,textarea{color:inherit;font:inherit;letter-spacing:inherit}button,input,textarea{border:1px solid gray}button{border-radius:0;padding:.75em 1em;background-color:transparent}button *{pointer-events:none}embed,iframe,img,object,video{display:block;max-width:100%}table{table-layout:fixed;width:100%}[hidden]{display:none}noscript{display:block;margin-bottom:1em;margin-top:1em}
  

/*  Tipografia */
@font-face {
    font-family: "editorial";
    src: url("assets/fonts/editorial_new_ultrabold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }
  
  /* Variables */
  
  :root {
    /* Containers */
    --small: 768px;
    --medium: 1024px;
    --large: 1440px;
    /* Colors */
    --background: white;
    --primary-color: rgb(255, 255, 255);
    --secondary-color: #FCB42A;
    /* Typography */
    --font-size: 1rem;
    --body-font-size: 1rem;
    --font-style: normal;
    --font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
    /* Components - Heading */
    --heading-font-color: #404040;
    --heading-font-weight: bold;
    --heading-font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
    /* Components -Heading font size */
    --h1: 2.25rem;
    --h2: 2rem;
    --h3: 1.75rem;
    --h4: 1.5rem;
    /* Components - Footer */
    --footer-font-color: #F4F4F4;
    --footer-bg-color: #000000;
    /* Padding */
    --padding: 1rem;
    --margins: 1.5rem;
  }
  
  /* Global */
  body {
    background-color: var(--primary-color);
    font-family: var(--font-family);
  }
   
  /* Sections */
  
  /* Layouts */
  

  body {
    font-family: neue-haas-grotesk-display,sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  h1 {
    font-family: editorial;
  }
  section{
      font-family: editorial;
  }

  /* Ejercicio layout */
  .logo {
      border: 2px solid blue;
  }

  .header{
      border: 2px solid red;
  }

.section{
    border: 2px solid pink;
}

.container {
  height: 100vh;
  display: flex;
  justify-content:center;
  align-items: center;
}

.circulo {
  height:200px;
  width:200px;
}

.circulos ul:nth-child(1) {
  background-color: rebeccapurple;
  border-radius: 50%;
  filter: blur(35px);
}
.circulos ul:nth-child(2) {
  background-color: red;
  border-radius: 50%;
  filter: blur(35px);
}
.circulos ul:nth-child(3) {
  background-color: blue;
  border-radius: 50%;
  filter: blur(35px);
}
.circulos ul:nth-child(4) {
  background-color: violet;
  border-radius: 50%;
  filter: blur(35px);
}
.circulos ul:nth-child(5) {
  background-color: yellow;
  border-radius: 50%;
  filter: blur(35px);
}
.circulos ul:nth-child(6) {
  background-color: greenyellow;
  border-radius: 50%;
  filter: blur(35px);
}

/* proyectos */
.proyecto h1{
  font-size:42px;
}