/****************************************
*    Variables
*****************************************/
:root {
  --white: #ffffff;
  --black: #000000;
  --link: #0000ee;
  --hover: #551a8b;
  --font-family: "neue-haas-grotesk-display", sans-serif;
}

/****************************************
*    Base
*****************************************/
html {
  height: 100%;
}

body {
  color: var(--black);
  background: var(--white);
  font-size: 100%;
  font-size: calc(16px + (20 - 16) * ((100vw - 720px) / (1400 - 720)));
  font-family: var(--font-family);
}

a {
  text-decoration: none;
  color: var(--black);
  cursor: pointer;
}

a:active,
a:hover {
  color: var(--hover);
  text-decoration: underline;
}

ul {
  padding-left: 0;
}

img {
  max-width: 100%;
}

/****************************************
*    Components - Common
*****************************************/
/* Layout */
.site-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: 100vh;
  width: 100vw;
}

.header {
  grid-column: 1 / 4;
  grid-row: 1;
}

.nav {
  grid-column: 1 / 4;
  grid-row: 2 / 4;
}

.footer {
  grid-column: 1 / 4;
  grid-row: 4 / 5;
}

@media (min-width: 40em) {
  .site-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 100vh;
    width: 100vw;
  }

  .header {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-self: center;
  }

  .nav {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    align-self: center;
  }

  .footer {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
}

/* Site name */
.site-name {
  padding-top: 0.5em;
  font-size: 1.3em;
  font-weight: 400;
  text-align: center;
}

/* Menu */
.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  text-align: center;
}

.menu a {
  font-size: 1.3em;
}

@media (min-width: 40em) {
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }
}

/* Footer */
.footer-nav,
.footer-nav ul {
  height: 100%;
}

.footer-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  padding-bottom: 2em;
}

@media (min-width: 40em) {
  .footer-nav li:last-of-type {
    display: none;
  }
}

/****************************************
*    Helpers
*****************************************/
.centrar {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Ayuda visual temporal */
.outline {
  border: 2px dotted blue;
}
